@import './variables';

.toggle-switch{
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
    margin-right: 15px;

    input{
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $lightGray;
    border-radius: 34px;
    transition: 0.4s;

    &:before{
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        left: 4px;
        bottom: 4px;
        background-color: $white;
        border-radius: 50%;
        transition: 0.4s;
    }
}

input:checked + .slider{
    background-color: $primaryColor;

    &:before{
        transform: translateX(30px);
    }
}
